*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(225,235,202);
  }
  #div1{
    width: 900px;
    height: 900px;
    margin: 30px auto; 
  }
  .qizi{
    width: 55px;
    height: 55px;
    background-color: rgb(209,232,202);
    border: 2px solid rgb(225,235,202);
    border-radius: 30px;
    float: left;
  }
  .over{
    width: 55px;
    height: 55px;
    background-color: #FC9;
    border: 2px solid rgb(225,235,202);
    border-radius: 30px;
    float: left;
  }
  .black{
    width: 55px;
    height: 55px;
    background-color: black;
    border: 2px solid rgb(225,235,202);
    border-radius: 30px;
    float: left;
  }
  .white{
    width: 55px;
    height: 55px;
    background-color: white;
    border: 2px solid rgb(225,235,202);
    border-radius: 30px;
    float: left;
  }
  .qizi .over{
    width: 55px;
    height: 55px;
    background-color: #FC9;
    border: 2px solid rgb(225,235,202);
    border-radius: 30px;
    float: left;
}
  .qizi .black{
    width: 55px;
    height: 55px;
    background-color: black;
    border: 2px solid rgb(225,235,202);
    border-radius: 30px;
    float: left;
  }
  .qizi .white{
    width: 55px;
    height: 55px;
    background-color: white;
    border: 2px solid rgb(225,235,202);
    border-radius: 30px;
    float: left;
  }
  ul{
    list-style-type: none;
  }